<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Itis.Earth.DataAccess.My.MySettings.earthConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=JHS-IF;Persist Security Info=True;User ID=jhs_sys;Password=jhs_sys"
            providerName="System.Data.SqlClient" />
        <add name="Itis.Earth.DataAccess.My.MySettings.JHS_IFConnectionString2"
            connectionString="Data Source=172.18.130.95,2433;Initial Catalog=JHS-IF;Persist Security Info=True;User ID=jhs_sys;Password=jhs_sys"
            providerName="System.Data.SqlClient" />
        <add name="Itis.Earth.DataAccess.My.MySettings.EARTHConnectionString"
            connectionString="Data Source=JPA84401Q0\SQLEXPRESS;Initial Catalog=EARTH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Itis.Earth.DataAccess.My.MySettings.earthConnectionString2"
            connectionString="Data Source=STKCW615512\SQLEXPRESS;Initial Catalog=earth;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Itis.Earth.DataAccess.My.MySettings.JHS_IFConnectionString"
            connectionString="Data Source=SHARK;Initial Catalog=JHS-IF;Persist Security Info=True;User ID=jhs_sys;Password=jhs_sys"
            providerName="System.Data.SqlClient" />
        <add name="Itis.Earth.DataAccess.My.MySettings.JHS_IFConnectionString1"
            connectionString="Data Source=SCW206016\SQLEXPRESS;Initial Catalog=JHS-IF;User ID=jhs_sys;Password=jhs_sys"
            providerName="System.Data.SqlClient" />
        <add name="Itis.Earth.DataAccess.My.MySettings.JHS_IFConnectionString3"
            connectionString="Data Source=SCW0907951;Initial Catalog=JHS-IF;User ID=jhs_sys;Password=jhs_sys"
            providerName="System.Data.SqlClient" />
        <add name="Itis.Earth.DataAccess.My.MySettings.JHS_IF_TriggerTestConnectionString"
            connectionString="Data Source=SCW0907951\JHSDEV;Initial Catalog=JHS-IF-TriggerTest;Persist Security Info=True;User ID=jhs_sys;Password=jhs_sys"
            providerName="System.Data.SqlClient" />
        <add name="Itis.Earth.DataAccess.My.MySettings.JHS_IF_TriggerTestConnectionString1"
            connectionString="Data Source=172.18.130.95,2433;Initial Catalog=JHS-IF-TriggerTest;User ID=jhs_sys;Password=jhs_sys"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
