<appSettings>
  <!--テストDISK名-->
  <add key="DISK_MEI" value ="H:"/>

  <!--計画年度INCファイル(S0004用)-->
  <add key="CTLFileName4" value="KEIKAKU_NENDO"/>
  <!--計画年度INCファイル(S0005用)-->
  <add key="CTLFileName5" value="KEIKAKU_NENDO5"/>

  <add key="CTLFilePath" value ="\BAT\MaT'S\INC\"/>
  <add key="SqlFilePath" value ="\BAT\MaT'S\SQL\"/>

  <!--特販の場合、系列コードのセット(S0003用)-->
  <add key="KeiretuCd" value="'TAMA','REOH','LEOP','ACEH','0001','6100','6800','TKCP','SEVJ'"/>

  <!--区分(S0003用)-->
  <add key="KubunName3" value ="'E','G','R','S','T'"/>
  <!--区分(S0004用)-->
  <add key="KubunName4" value ="'A','C','E','G','R','S','T'"/>
  <!--区分(S0005用)-->
  <add key="KubunName5" value ="'A','C','E','G','R','S','T'"/>
  <!--商品種別(S0005用)-->
  <add key="SyouhinSyubetuName5" value ="'Ke1001','Ke1002','Ke1004','Ke1006','Ke1007','Ke1008','Ke1011','Ke1012'"/>

  <!--SQL文(S0003用)-->
  <add key="SqlFileNameS0003_01" value ="MaT'S000301"/>
  <add key="SqlFileNameS0003_02" value ="MaT'S000302"/>
  <add key="SqlFileNameS0003_03" value ="MaT'S000303"/>
  <add key="SqlFileNameS0003_04" value ="MaT'S000304"/>
  <add key="SqlFileNameS0003_05" value ="MaT'S000305"/>
  <add key="SqlFileNameS0003_06" value ="MaT'S000306"/>
  <add key="SqlFileNameS0003_07" value ="MaT'S000307"/>
  <add key="SqlFileNameS0003_08" value ="MaT'S000308"/>
  <!--SQL文(S0004用)-->
  <add key="SqlFileNameS0004_01" value ="MaT'S000401"/>
  <add key="SqlFileNameS0004_02" value ="MaT'S000402"/>
  <add key="SqlFileNameS0004_03" value ="MaT'S000403"/>
  <add key="SqlFileNameS0004_04" value ="MaT'S000404"/>
  <!--SQL文(S0005用)-->
  <add key="SqlFileNameS0005_01" value ="MaT'S000501"/>
  <add key="SqlFileNameS0005_02" value ="MaT'S000502"/>
  <add key="SqlFileNameS0005_03" value ="MaT'S000503"/>

</appSettings>