<connectionStrings>
  <!--DBメイン接続先情報 -->
  <!-- JHS-->
  <add name="connectionStringJHS" connectionString="Data Source=dam104;Initial Catalog=JHS_EKKS;Persist Security Info=True;User ID=sa;Password=-=GAO123456" providerName="System.Data.SqlClient"/>
  <!-- Earth-->
  <!--<add name="connectionStringEarth" connectionString="Data Source=b22160;Initial Catalog=JHS-IFrefer;Persist Security Info=True;User ID=jhs_sys;Password=jhs_sys" providerName="System.Data.SqlClient"/>-->
  <add name="connectionStringEarth" connectionString="Data Source=dam498;Initial Catalog=JHS_EARTH;Persist Security Info=True;User ID=sa;Password=zaoriku" providerName="System.Data.SqlClient"/>
  <!-- 報連相システム-->
  <add name="connectionStringASPSFA" connectionString="Data Source=HRS_ICA178;Password=ASPSFA_ADMIN;User Id=ASPSFA_ADMIN;" />

</connectionStrings>