<appSettings>
  <!--テストDISK名-->
  <add key="DISK_MEI" value ="H:"/>

  <add key="INIFilePath" value ="\BAT\JHS_EARTH\INC\"/>
  <add key="SqlFilePath" value ="\BAT\JHS_EARTH\SQL\"/>

  <!--検査報告書コピー元のパス-->
  <add key="KensaHoukokusyoCopyFromPath" value ="\\10.160.192.25\大連情報システム部（itis共有）\開発資料\430024_EARTH検査報告書機能追加\JHSearth\検査報告書\COPY_FROM\"/>
  <!--検査報告書コピー先のパス-->
  <add key="KensaHoukokusyoCopyToPath" value ="\\10.160.192.25\大連情報システム部（itis共有）\開発資料\430024_EARTH検査報告書機能追加\JHSearth\検査報告書\COPY_TO\"/>
  <!--検査報告書エラーフォルダ名-->
  <add key="KensaHoukokusyoCopyErrorFolderName" value ="UploadError"/>

  
</appSettings>