<connectionStrings>
  <!--DBメイン接続先情報 -->
  <!-- Earth-->
  <add name="connectionStringEarth" connectionString="Data Source=dam498;Initial Catalog=JHS_EARTH;Persist Security Info=True;User ID=sa;Password=zaoriku" providerName="System.Data.SqlClient"/>
  <!--<add name="connectionStringEarth" connectionString="Data Source=b55008;Initial Catalog=JHS-IFrefer;Persist Security Info=True;User ID=jhs_sys;Password=jhs_sys" providerName="System.Data.SqlClient"/>-->
  <!-- jhsfgm-->
  <add name="connectionStringJhsfgm" connectionString="Data Source=dam498;Initial Catalog=jhsfgm;Persist Security Info=True;User ID=sa;Password=zaoriku" providerName="System.Data.SqlClient"/>
  <!--<add name="connectionStringJhsfgm" connectionString="Data Source=b55008;Initial Catalog=jhsfgm;Persist Security Info=True;User ID=jhs_sys;Password=jhs_sys" providerName="System.Data.SqlClient"/>-->


</connectionStrings>