body
{
    font-family: "ＭＳ Ｐゴシック" ,sans-serif;
    margin :0px 0px 0px 0px;
}
td {
    white-space: nowrap;
    font-size: 13px;
}
th {
    white-space: nowrap;
}
a
{ 
    color: blue; 
}
img 
{
    border-style: none;
}
input
{
    ime-mode:active;
}
.hissu
{
    background-color: bisque;
}
.kingaku,.number
{
    ime-mode:disabled;
    text-align:right;
}
.pullCd
{
    ime-mode: disabled;
    width: 30px;
}
.codeNumber
{
    ime-mode: disabled;
}
.dataGridHeader {
    border: 1px inset #999999;
    position: relative;
    left: 0px;
    height: 200px;
    width: 800px;
    overflow: auto;
    padding-top: 0px;
}
table.scrolltablestyle thead tr {
    position: absolute;
    top: 0;
    left: 0;
}
.dataGridContent {
    /*overflow: auto;
    height: 170px;*/
}
table.scrolltablestyle tbody tr td {
    padding: 3px 1px;
    font-size: 13px;
}
table.scrolltablestyle thead tr th {
    border-left: none;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 4px 3px;
    white-space: nowrap;
    background-color: #ffffd9;
    font-size: 12px;
}
table.scrolltablestyle tbody tr td {
    border-left: none;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
th.tableTitle {
    text-align:left;
    border: none;
    background-color: #ccffff;
    height:24px;
}
table.mainTable {
    border: 2px solid gray;
    border-collapse: collapse;
    background-color:#e6e6e6;
}
table.mainTable td {
    border: 1px solid gray;
    padding:3px;
    font-size:13px;
}
table.subTable td {
    border:  none;
}
table.subTableNarrow td {
    border:  none;
    font-size:13px;
}
.shouhinTableTitle
{
    white-space: nowrap;
    text-align: center;
    background-color: #ffffcc;
    padding: 3px;
    font-weight:bold;
}
/* テーブル内・入金額および残額の背景色(深緑色) */
td.shouhinTableTitleNyuukin {
	background-color: #99CC99;
	/*width: 100px;*/
	width: 5.5em;
	text-align:center;
	font-weight:bold;
}
/* テーブル内・合計金額の背景色(深緑色) */
td.shouhinTableTitleSum {
	background-color: #99CC99;
	/*width:160px;*/
	width: 12em;
	text-align:center;
	font-weight:bold;
}
th.shouhinTableTitleNyuukin {
    background-color: #ccffff;
}
th.shouhinTableTitleNyuukin input{
    background-color: #ccffff;
}
table.menuLinkBar 
{
    border: 1px solid black;
    border-collapse: collapse;
}
table.menuLinkBar td
{
    white-space: nowrap;
    font-size: 13px;
    border: 1px solid black;
    width: 120px;
    background-color: lightyellow;
    text-align: center;
}
table.menuLinkBar img
{
    width: 12px;
    height: 12px;
}
td.tableFooter
{
    background-color: papayawhip;
    text-align: center;
}
td.tableFooter input
{
    font-size:14px
}
table.itemTable td
{
    text-align:center;
}
table.itemTableNarrow td
{
    text-align:center;
    font-size:13px;
    padding:1px;
}
table.itemTable input, table.itemTableNarrow input
{
    padding:1px;
    margin:0px;
}
table.itemTable input.readOnlyStyle, table.itemTableNarrow input.readOnlyStyle
{
    border: none;
    background-color:transparent;
}
table.itemTableNarrow td.itemNm, table.itemTable td.itemNm
{
    text-align: left;
    white-space: normal;
}
input.itemNm
{
    /*width: 200px;*/
}
input.itemCd
{
    width: 3em;
    ime-mode:disabled;
}
input.itemSearchBtn
{
    width: 1.5em;
}
/* 業務画面内テーブルの検索ボタン */
input.gyoumuSearchBtn
{
    width: 2.6em;
    height:1.7em;
}
input.date
{
    width: 5.4em;
    ime-mode:disabled;
}
input.kingaku
{
    width: 4.5em;
    ime-mode:disabled;
}
table.innerTable{
    width:100%;
    border-collapse: collapse;
}
table.innerTable td, table.innerTable th{
    border: none;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
table.innerTable td.firstCol{
    border-left:none;
}
table.innerTable tr.firstRow td{
    border-top:none;
}
input.searchBtn
{
    height: 23px;
}
table.veiwMode input
{
    border-style:none;
}
table.veiwMode input.btnEdit
{
    border-style:outset;
}
input.readOnlyStyle, textarea.readOnlyStyle
{
    border-style:none;
    border-bottom: 1px solid black;
    background-color:transparent;
}
input.readOnlyStyle2, textarea.readOnlyStyle2
{
    border-style:none;
    background-color:transparent;
}
td.tableSpacer, th.tableSpacer
{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px
    font-size:1px;
    height: 1px;
    background-color: gray;
}
table.titleTable th
{
    font-size: 16px;
}
.searchReturnValues 
{
    display:none;
}
table.osiraseTable td
{
    font-size:15px;
}
.menuBar td
{
    font-size: 18px;
}
.menuBar .menuKoumkuIcon
{
    width:50px;
    text-align:right;
    vertical-align: top;
    font-size: 18px;
}
.menuBar .menuKoumkuIcon img
{
    width: 25px;
    height: 20px;
}
.menuBar .menuDaiKoumoku
{
    font-weight: bold;
    font-size: 16px;
    background-color:#ABFCE8;
    padding:3px;
}
#kanriMenuFS
{
    position: absolute;
    top: 500px;
    left: 780px;
}
#kanriLinksList
{
    font-size: 16px;
    white-space: nowrap;
    text-align: left;
    width:150px;
}
.dataGridHeader2 {
    border: 1px inset #999999;
    position: relative;
    left: 0px;
    height: 200px;
    overflow: auto;
    padding-top: 0px;
}
/* テーブル内・項目名の背景色(淡い灰色) */
td.koumokuMei,tr.koumokuMei td{
	background-color: #D9EBFF;
	font-weight:bold;
	white-space:nowrap;
}
/* テーブル内・項目名の背景色(浅い黄色い) */
td.koumokuMei1,tr.koumokuMei1 td{
	background-color: #FFFFCC;
	font-weight:bold;
	white-space:nowrap;
}
/* テーブル内・小分類の背景色(緑色) */
.mainTable td.syoBunrui{
	background-color: #99CC99;
	text-align: left;
	font-weight:bold;
}
/* テーブル内・文字フォントサイズ(小さめ) */
.mainTable td.itemMei_small{
    /*font-size: 10px;*/
}
/* テーブル内・奇数行の背景色 */
.mainTable tr.odd{
}
/* テーブル内・偶数行の背景色 */
.mainTable tr.even{
    background-color: #D4FAD5;
}
.selectedStyleG, .selectedStyleG input{
    background-color: #D4FAD5;
}
.selectedStyleB, .selectedStyleB input{
    background-color: #B9C4F6;
}
/* mainTableのborder細い版 */
table.miniTable {
  border: 0.5px solid gray;
  border-collapse: collapse;
}
.openHosyousyoDB
{
    width:7em;
    background-color: #ffb6c1;
}
.openRJHS
{
    width:4em;
    background-color: #a52800;
    color:white;
}
/* 加盟店詳細ボタン*/
.btnKameitenSyousai
{
    width:5.5em;
}
/* 物件情報ボタン */
.btnBukkenJouhouSyoukai
{
    width:4.5em;    
}
.button
{
    height:1.4em;
}
table.paddinNarrow td
{
    padding:1px;
}
.masterHeader
{
    background-color: #98F898;
}
.InfoText
{
	color:#660066;
	font-weight:bold;
	font-size: 15px;
	text-align:left;
	font-family: "ＭＳ ゴシック" ,sans-serif;
}
.InfoArea
{
	border: 0.5px solid gray;
	background-color: #FFFFFF;
	font-family: "ＭＳ ゴシック" ,sans-serif;
}
table.mainTable,input,textarea,select,span
{
    font-size:13px;
}
.menuButton{
	width: 250px;
	height: 25px;
    font-size: 11pt;
}
.lblTitle{
	width: 250px;
	height: 55px;
    font-size: 20pt;
}
table.gridviewTableHeader{
  border:solid black;
  padding: 1px 1px;
  white-space: nowrap;
  background-color: #ffffd9;
  font-size: 13px;
  font-weight:bold;
  text-align:center;
}
.tableMeiSai{
	padding-left:4px;
}	
.kingakuMeiSai{
	padding-right:4px;
}	
.readOnly{
	background-color:#D0D0D0;
}
.makePopup{
	background-color:#BBFFFF;
}
table.buttonsTable{
	z-index: 100;
	height: 30px;
	border: 0px;
}
table.buttonsTable tr td{
	width: 120px; 
	text-align: left;
}
.tableMeiSai tr td 
{
	height:20px;
}
.bottombutton{
	width:85px;
	height: 22px;
}
.bottombutton1{
	width:120px;
	height: 22px;
}
.kyoutuubutton{
	width:100px;
	height: 22px;
}

table.mainTable2,input,textarea,select,span
{
font-size:13px;
}
table.mainTable2 td {
    border: 1px solid gray;
    font-size:15px;
}
table.mainTable2 {
	border: 2px;
    border-collapse: collapse;
    background-color:#e6e6e6;
}
table.masterHeader tr td {
  border-right: 1px solid #999999;
  border-top: 1px solid black;
  padding: 4px 3px;
  white-space: nowrap;
  background-color: #D9EBFF;
  font-size: 13px;
  font-weight:bold;
  text-align:center;
}
/*=============================================================================================
/*TableBorder=1px_table*/
.TableBorder
{
	border: solid black;
	border-width: 1px 0px 0px 1px;
}

/*TableBorder=1px_td*/
.TdBorder
{
	border: solid black;
	border-width: 0px 1px 1px 0px;
}
.Title_fontBold
{
	font-weight:bold ;
	font-size:15px;
}
.gvTableBorder
{
	border: solid gray;
	border-width: 0px 0px 0px 1px;
}
.gvMeisaiBorder
{
	color: Black;
	border: solid gray;
	border-width: 1px 1px 1px 0px;
}
.MeisaiHeader
{
	background-color: #ffffd9;
	font-size : 13px;
	font-weight:bold;
	text-align:center;
	padding: 4px 3px;
}

/*文字overflowの処理*/
.TextOverflow
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*計画管理---------------------------------*/
table.mainTable2,input,textarea,select,span
{
    font-size:13px;
}
table.mainTable2 td {
    border: 1px solid black;
    padding:1px;
    font-size:13px;
}
table.mainTable2 {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:white;
}

table.gridviewLeft td {
    border: 1px solid black;
    padding:1px;
    font-size:11px;
}
table.gridviewLeft {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:white;
    font-size:11px;
}
/* TDの背景色: ビルダー情報 */
.build{
background-color:#FFCB96;
font-size:11px;
}

/* TDの背景色: 項目「前年データ」 */
.zenen{
background-color:#99CDFF;
font-size:11px;
}
/* TDの背景色: 項目「前年データ」 */
.rigthMeisai{
background-color :#ccffff;	
font-size:11px;
}
.lCss
{
white-space: nowrap; 
overflow: hidden;
font-size:11px;
text-overflow: ellipsis;
}

/* TDの背景色: yellow */
.meisaiYellow{
background-color: #FFFF00;
font-size:11px;
}

/* TDの背景色: light yellow */
.meisaiUsuiYellow{
background-color: #FFFF99;
font-size:11px;
}
/*各種 集計画面[結果表示]のボタン----------------------------------*/
.btnColor_Pink
{
    background-color :#fa9ccb;
    width :90px;
    height :28px;
    font-weight:bold;
    border :solid 1px black;
    cursor: hand;
}

.tdColor_Blue
{
    background-color :#99ccff;
    font-weight:bold;
    color:Black ;
}
.tdMeisai_SkyBlue
{
    background-color :#99ccff;	
    font-weight :bold;
    color:Black  ;
}
.tdMeisai_SkyGreen
{
    background-color :#ccffff;	
    font-weight :bold;
    color:Black;
}
.tdMeisai_SkyBlue_Grd
{
    background-color :#ccffff;	
    color:Black  ;
}

.tdMeisai_Yellow_Grd
{
	background-color :#feff99;
}


/* ------108_全社集計詳細 専用CSS -------BEGIN-----
/*　TDのborder　*/
.U009_td_border{
background-color:#D2FEFF; 
border-right: black 2px solid;
border-bottom: black 2px solid;
}

/* TDの背景色: 項目「区分」 */
.U009_td_backcolor1{
background-color:#FFCB96;
}

/* TDの背景色: 項目「前年データ」 */
.U009_td_backcolor2{
background-color:#99CDFF;
}

/* TDの背景色: 項目「売上」 */
.U009_td_backcolor3{
background-color:#CFFBFF;
}

/* TDの背景色: 灰色 項目「【集計詳細表示】」 */
.U009_td_backcolor4{
background-color:#C0C0C0;
}

/* TDの背景色: 紫色 */
.U009_td_backcolor5{
background-color:#C99BFC;
}

/* TDの背景色: 深い灰色 */
.U009_td_backcolor6{
background-color:#847F83;
}

/* TDの背景色: 青い色 */
.U009_td_backcolor7{
background-color:#0004F0;
}

/* TDの背景色: 深い青い色 */
.U009_td_backcolor8{
background-color:#010083;
}

/* TDの大文字 */
.U009_td_font_bold{
font-weight:bold;
}

/* 文字の色: 白色 */
.U009_td_font_color_white{
color: white;
}


/* Tatbleのborder */
.U009_table_border{
background-color:#D2FEFF;
border-left: black 2px solid;
border-top: black 2px solid;
}

/* 数値コントロールののborder */
.U009_TextBox_border{
border-style:none;
}

/* ------108_全社集計詳細 専用CSS -------END-----*/

.Padding_Left
{
	padding-left: 6px;
}

.Div_overflow_y
{
	overflow:auto;
	overflow-x:hidden;
}

.Div_overflow_x
{
	overflow:auto;
	overflow-y:hidden;
}

/* ------143_支店月別計画管理表 専用CSS -------END-----*/

/* TDの背景色: orange */
.K010_td_backcolor1{
background-color:#FF9900;
}

/* TDの背景色: light orange */
.K010_td_backcolor2{
background-color:#FFCC00;
}

/* TDの背景色: 灰色 */
.K010_td_backcolor3{
background-color: #C0C0C0;
}

/* TDの背景色: yellow */
.K010_td_backcolor4{
background-color: #FFFF00;
}

/* TDの背景色: light yellow */
.K010_td_backcolor5{
background-color: #FFFF99;
}

/* TDの背景色: 合計 */
.K010_td_backcolor6{
background-color: #FFCC99;
}

/* TDの背景色: sky blue */
.K010_td_backcolor7{
background-color: #CCFFFF;
}

/* TDのtitle */
.td_title{
text-align: center;
font-weight:bold;
white-space:nowrap;
}

/* TDのItem */
.td_item{
text-align: right;
white-space:nowrap;
}

/* TDのtitle */
.tr_border {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

/* TDのtitle */
.tr_borderLast {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.TitleColor_Blue
{
    font-weight:bold;
    color:blue ;
}
.TitleUndLine
{
    text-decoration: underline
}