<?xml version="1.0"?>
<!-- 
    メモ: このファイルを手動で編集する代わりに、Web 管理ツールを使用 
    してアプリケーションの設定を構成することができます。Visual Studio 
    の [Web サイト] メニューにある [ASP.NET 構成] オプションから設定
    を行ってください。設定およびコマンドの一覧は、通常
    \Windows\Microsoft.Net\Framework\v2.x\Config にある
    machine.config.comments で確認できます。 
-->
<configuration>
	<appSettings>
		<add key="IceWallIPList" value="202.33.32.,192.168.120."/>
		<add key="OsiraseLimitCount" value="30"/>
		<add key="KadouJikan" value="00:00:00~12:00:00,12:00:00~24:00:00"/>
    <add key="Kensuu" value="1,2,5,10,20,30,50,70,100,150,300,3000"/>
    <add key="TemplateFileName" value="計画管理.xls"/>

    <!-- CSVアップロード上限件数 -->
    <add key="CsvInputMaxLineCount" value="3000"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="Data Source=dah498;Initial Catalog=JHS_EKKS;Persist Security Info=True;User ID=sa;Password=zaoriku" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=dam104;Initial Catalog=JHS_EKKS  ;Persist Security Info=True;User ID=sa;Password=-=GAO123456;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=a20360;Initial Catalog=JHS-IFtest;Persist Security Info=True;User ID=jhs_sys;Password=jhs_sys" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<!-- 
            デバッグ シンボルをコンパイルされたページに挿入するに
            は、compilation debug="true" に設定します。この設
            定はパフォーマンスに影響するため、開発時のみこの値
            を true に設定してください。

            Visual Basic オプション:
            データの損失が発生する可能性のあるすべてのデータ型
            の変換を無効にするには、strict="true" に設定します。
            すべての変数の定義を強制するためには、explicit="true"
            に設定します。
        -->
    <httpRuntime maxRequestLength="512000" executionTimeout="6000000"/>
		<compilation debug="true" strict="true" explicit="true">
			<assemblies>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
		<!--
            <authentication> セクションは、ユーザーを識別するため
            に、ASP.NET で使用されるセキュリティ認証モードの構成
            を有効にします。 
        -->
		<authentication mode="Windows"/>
		<!--
            <customErrors> セクションは、要求の実行中にハンドル
            されていないエラーが発生した場合の処理方法の構成を
            有効にします。具体的には、開発者が HTML エラー ペ
            ージをスタック トレースのエラーの代わりに表示するように構
            成することを可能にします。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
